---


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
        <a href="/">Home</a>
		<a href="/about/">About</a>
		<h1>About Page</h1>
        <p>Something maybe.</p>
        <p>Content gets written in an <code>src/pages/about.astro</code> file, which renders an <code>/about/</code> route. To summarize: file-based routing appears to be default behavior.</p>
        <p>The <a href="https://docs.astro.build/en/tutorial/2-pages/1/">build a blog tutorial</a> remarks on this with a note, reading: "Unlike many frameworks, Astro uses standard HTML <code>&lt;a&gt;</a></code> elements to navigate between pages (also called <em>routes</em>), with traditional page refreshes."</p>
    </body>
</html>
